body {
  background: #E8E8E8;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  max-width: 500px;
  margin: 20px auto 0px auto;
}

nav {
	display: flex;
	justify-content: space-between;
	font-family: Ariel, sans-serif;
	border-bottom: 1px solid #005449;
	padding-bottom: 8px;
}

h1 {
	font-size: 2.3em;
	font-weight: bold;
	color: #005449;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 35px 0px 20px 0px;
}
  
h2 {
	font-size: 1.6em;
	font-style: italic;
	font-weight: bold;
	color: #005449;
	margin: 25px 0px 10px 0px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color: #005449;
	margin: 15px 0px 10px 0px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	font-weight: bold;
}

a:link, a:visited, a:active {
	color: #005449;
	text-decoration: none;
  }
  
a:hover {
	color: #467C6B;
	text-decoration: underline;
}

input {
	display: block;
	margin-bottom: 10px;
}

input[type=checkbox] {
	display: inline;
	margin: 5px 10px 5px 30px;
}

button {
	color: #005449;
	background-color: #BBCBC9;
	font-size: 1.1em;
	font-weight: bold;
	border: 2px solid #005449;
	border-radius: 8px;
	padding: 10px 20px;
	margin: 8px;
}

.button {
	background-color: yellow;
	padding: 20px 30px;
}

ul {
	list-style-type: disc;
	margin-left: 50px;
}

ul.subList {
	list-style-type: circle;
	margin-bottom: 16px;
}

li {
	margin-top: 8px;
	margin-bottom: 8px;
}

footer {
	color: #005449;
	font-family: Ariel, sans-serif;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #005449;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 20px
}

.flexBox {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 25px;
}

.flexBox > div {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #BBCBC9;
	border: 1px solid #005449;
	padding: 25px;
}

.square {
	height: 125px;
	width: 125px;
}

.rectangle {
	height: 125px;
	width: 250px;
}

.roundedRect {
	height: 125px;
	width: 250px;
	border-radius: 15px;
}

.circle {
	height: 125px;
	width: 125px;
	border-radius: 50%;
}

.homeImg {
	width: 100%;
}

.interest {
	margin-top: 20px;
	margin-bottom: 20px;
}

.interest img {
	float: left;
	width: 100px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

#doText {
	font-size: 1.2em;
	font-weight: bold;
	color: #005449;
	margin-left: 25px;
}